* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0e14;
}

#grid-container {
    padding: 5% 3%;
}

#title p{
    text-align: center;
    color: #83818e;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

#output-container {
    display:flex;
    background-color: #24232b;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
}

#output {
    color: white;
    font-size: 1.6rem;
}

#button-container button {
    background-image: url(Password-Generator-Frontend-Mentor-main/assets/images/icon-copy.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;
}

#button-container button:hover{
    cursor: pointer;
    transform: scale(1.05);
}


#setting-container {
    background-color: #24232b;
    padding: 20px;
    color: white;
    display:flex;
    flex-direction: column;
}


#character-length-container {
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

#character-length-number {
    color: #a8fdb3;
    font-size: 1.7rem;
}

#slidecontainer {
    margin-bottom: 17px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #a6ffaf; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%; /* Round shape */
}

.slider::-webkit-slider-thumb:hover {
    background-color: #191524; /* Black background */
    border: 2px solid #bbeac5; /* Dark green border */
    transform: scale(1.05); /* Slightly larger size on hover */
}

#tick-box-list {
    margin-bottom: 10px;
}

/* Customize the label (the container) */
.tick-box-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
}

/* Hide the browser's default checkbox */
.tick-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #eee;
}

.tick-box-container:hover input ~ .checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */
.tick-box-container input:checked ~ .checkmark {
    background-color: #a6ffaf;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.tick-box-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.tick-box-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 11px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#strength-container {
    display: flex;
    background-color: #18171f;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
}

#strength-title{
    color: #82808d;
}

#strength-level-container {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    align-items: center;
}

#strength-level-in-word {
    color: #e4e3ea;
    
}

#strength-level-in-bar {
    display: flex;
    flex-basis: 50%;
    justify-content: space-evenly;
    /* fix it, the space must be fixed in px not by % */
}

.bar-list {
    border: 1px solid #e0dfe7;
    height: 30px;
    width: 12px;
}

#bar-1{
    border: 1px solid red;
    background-color: red;
}

#setting-container button {
    background-color: #a8feb4; /* Green */
    border: none;
    color: black;
    padding: 14px;
    text-align: center;
    font-size: 16px;
}

#setting-container button:hover{
    background-color: #24232b;
    border: 1px solid #a8feb4;
    color: #a8feb4;
    cursor: pointer;
}

#error {
    color: red;
    text-align: center;
    font-size: 25px;
}


@media screen and (min-width: 576px){
    #grid-container {
        width: 600px;
        margin: 0 auto;
    }
}